<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboord Enseignant</title>
    <style>
        .header-bold {
            font-weight: bold;
            font-size: 1.2em; /* Définir la taille de la police en em ou en px */
        }
        .footer {
            position: fixed;
            bottom: 0; /* Reste en bas de la page */
            width: 100%; /* Prend toute la largeur de l'écran */
            /* background-color: #f1f1f1;  Choisissez une couleur qui s'intègre avec le reste du design */
            text-align: center;
            padding: 10px; /* Ajouter du remplissage pour un espacement adéquat */
            border-top: 1px solid #ddd; /* Optionnel, pour un effet de séparation */
        }
    </style>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="css/custom.css">


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">

</head>
<body>

    <div class="wrapper ">

        <!-------page-content start----------->

        <div id="">

            <!------top-navbar-start----------->

            <div class="top-navbar">
                <div class="xd-topbar">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 order-3 order-md-2">
                            <div class="xp-searchbar">
                                <form>
                                    <div class="input-group">
                                        <input type="search" class="form-control"
                                               placeholder="Chercher demande par Id"
                                                name="id">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit" id="button-addon2">Go
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--
                        <form method="get" th:action="${index}">
                            <label> key word</label>
                            <input type="text" name="keyword">
                            <button type="submit" class="btn-info" >chercher</button>
                        </form>
                        -->
                        <div  class="col-10 col-md-6 col-lg-8 order-1 order-md-3 d-flex justify-content-end">
                            <div class="xp-profilebar text-right">
                                <nav class="navbar p-0">
                                    <ul class="nav navbar-nav flex-row ml-auto">
                                        <li class="dropdown nav-item active">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                <span style="color: white" class="material-icons" data-toggle="tooltip" title="Notification">notifications</span>
                                                <span class="notification">4</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">You Have 4 New Messages</a></li>
                                                <li><a href="#">You Have 4 New Messages</a></li>
                                                <li><a href="#">You Have 4 New Messages</a></li>
                                                <li><a href="#">You Have 4 New Messages</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a  class="nav-link " th:href="@{/signalerPanne}">
                                                <span style="color: red" class="material-icons " data-toggle="tooltip" title="Signaler Panne">warning</span>
                                            </a>
                                        </li>

                                        <li class="dropdown nav-item">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                <img src="img/user.png" style="width:40px; border-radius:50%;background-color: white;"/>
                                                <span class="xp-user-live"></span>
                                            </a>
                                            <ul class="dropdown-menu small-menu">
                                                <li><a href="#">
                                                    <span class="material-icons">person_outline</span>
                                                    Profile
                                                </a></li>
                                                <li><a href="#">
                                                    <span class="material-icons">settings</span>
                                                    Settings
                                                </a></li>
                                                <li>
                                                    <form th:action="@{/logout}" method="post">
                                                        <button type="submit"  th:onclick="'return confirm(\'Voulez-vous vraiment vous déconnecter ?\')'">
                                                            <span class="material-icons ">logout</span>
                                                            logout
                                                        </button>
                                                    </form>
                                                </li>

                                            </ul>
                                        </li>


                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>

                    <div class="xp-breadcrumbbar text-center">
                        <h4 class="page-title">Dashboard Enseignant</h4>
                        <ol class="breadcrumb" th:if="${enseignant != null}" >
                            <li th:text="${enseignant.prenom}" class="breadcrumb-item" >
                                <a th:text="${enseignant.prenom}" href="#"></a>
                            </li>
                            <li th:text="${enseignant.nom}" class="breadcrumb-item active" aria-curent="page"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!------top-navbar-end----------->


            <!------main-content-start----------->

            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrapper">

                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                                        <h2 class="ml-lg-2">Listes Des Demades</h2>
                                    </div>
                                    <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">

                                    </div>
                                </div>
                            </div>

                            <table class="table table-striped table-hover">
                                <thead >
                                    <tr>
                                        <th style="font-weight: bold;font-size: 1.2em; ">Id</th>
                                        <th style="font-weight: bold;font-size: 1.2em; " >Date Début</th>
                                        <th style="font-weight: bold;font-size: 1.2em; ">Date Fin</th>
                                        <th style="font-weight: bold;font-size: 1.2em; ">Date Réunion</th>
                                        <th style="font-weight: bold;font-size: 1.2em; ">Actions</th>
                                    </tr>
                                </thead>

                                <tbody th:if="${listDemandes != null}" >
                                    <tr th:each="demande:${listDemandes}" th:attr="enseignant-id=${demande.enseignant.id}" >

                                        <td th:text="${demande.getId()}"></td>
                                        <td th:text="${demande.getDateDebut()}"></td>
                                        <td th:text="${demande.getDateFin()}"></td>
                                        <td th:text="${demande.getDateReunion()}"></td>
                                        <!-- <td type="hidden" th:text="${demande.getEnseignant().getId()}"></td>-->

                                        <td>
                                            <!-- Consulter la demande pour exprimer les besoins -->
                                            <a th:href="@{/consulterBesoinsEnseignant(id=${demande.id})}" style="color:white" class=" btn btn-primary">
                                                Exprimer Besoins
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-between">
                                <div class="hint-text">showing <b th:text="${currentPage}"></b> out of <b th:text="${totalPages}"></b></div>
                                <ul class=" nav nav-pills">
                                    <li  th:each="page,status:${pages}">
                                        <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1' }"
                                           th:text="${status.index}"
                                           th:href="@{enseignant(page=${status.index})}"
                                        ></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------main-content-end----------->


            <!----footer-design------------->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="footer-in">
                        <p class="mb-0">&copy 2023/2024 Master SDSI. All Rights Reserved.</p>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <!-------complete html----------->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>


</body>
</html>