<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header-bold {
            font-weight: bold;
            font-size: 1.2em; /* Définir la taille de la police en em ou en px */
        }
    </style>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>crud dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="css/custom.css">


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">

</head>
<body>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row">
            <div class="col-12">
                <!-- Formulaire centré au milieu de la page -->
                <form th:action="@{/saveOrdinateurBesoinForEns}" method="post" class="border p-4 rounded shadow-sm bg-white">
                    <!-- Champs spécifiques à Ordinateur -->
                    <input type="hidden" th:if="${demande != null}" th:name="id" th:value="${demande.id}" />
                    <div class="mb-3">
                        <label for="cpu" class="form-label">CPU:</label>
                        <input type="text" id="cpu" th:name="cpu" th:value="${ordinateur.getCpu()}" class="form-control" />
                        <span class="text-danger" th:errors="${ordinateur.cpu}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="ram" class="form-label">RAM (Go):</label>
                        <input type="number" id="ram" th:name="ram" th:value="${ordinateur.getRam()}" class="form-control" />
                        <span class="text-danger" th:errors="${ordinateur.ram}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="disqueDur" class="form-label">Disque Dure (Go):</label>
                        <input type="number" id="disqueDur" th:name="disqueDur" th:value="${ordinateur.getDisqueDur()}" class="form-control" />
                        <span class="text-danger" th:errors="${ordinateur.disqueDur}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="ecran" class="form-label">Ecran :</label>
                        <input type="text" id="ecran" th:name="ecran" th:value="${ordinateur.getEcran()}" class="form-control" />
                        <span class="text-danger" th:errors="${ordinateur.ecran}"></span>
                    </div>

                    <!-- Boutons -->

                   <div class="d-flex justify-content-between mt-4">
                       <button type="submit" class="btn btn-success">Ajouter</button>

                       <a
                          th:href="@{'/consulterBesoinsEnseignant?id='+${demande.getId()} }"
                          class="btn btn-secondary">Annuler</a>
                   </div>

                </form>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script> <!-- Charger le script Bootstrap -->


</body>
</html>