<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>Demande</title>
    <style>
        .header-bold {
            font-weight: bold;
            font-size: 1.2em; /* Définir la taille de la police en em ou en px */
        }
        /* Utilisation de Flexbox pour assurer la structure de la page */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%; /* Assurez-vous que la hauteur de la page est de 100% */
            display: flex;
            flex-direction: column; /* Assurez-vous que le footer reste en bas */
        }

        .main-content {
            flex: 1; /* Permet au contenu de prendre tout l'espace restant */
        }

        .footer {
            position: fixed;
            bottom: 0; /* Reste en bas de la page */
            width: 100%; /* Prend toute la largeur de l'écran */
            /* background-color: #f1f1f1;  Choisissez une couleur qui s'intègre avec le reste du design */
            text-align: center;
            padding: 10px; /* Ajouter du remplissage pour un espacement adéquat */
            border-top: 1px solid #ddd; /* Optionnel, pour un effet de séparation */
        }
    </style>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="css/custom.css">


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
</head>
<body>
    <div class="wrapper">


        <div class="body-overlay"></div>

        <!-------------------------sidebar------------>
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img style="border: #0b2e13" src="img/logo.jpg" class="img-fluid"/>
                   <!-- <span>Géstion des ressources</span> -->
                    <span >Demande N° : <span th:text="${demande.getId()}"></span></span>
                </h3>
            </div>
            <ul class="list-unstyled components">
                <li  class="">
                    <a th:href="@{/index}" class="dashboard"><i class="material-icons"></i><span>Acceuil</span></a>
                </li>

                <li class="">
                    <a  th:href="@{/consulterBesoinDepartement(id=${demande.id})}"><i class="material-icons"></i><span>Besoins du département</span></a>
                </li>

                <li  class="">
                    <a th:href="@{/consulterBesoinEnseignant(id=${demande.id})}"><i class="material-icons"></i><span>Besoin des enseignants</span></a>
                </li>
                <!-- Afficher le bouton "Envoyer Responsable" si le champ `EnvoyerResponsable` est false -->
                <li th:if="${!demande.EnvoyerResponsable}">
                    <a th:href="@{/envoyerResponsable(id=${demande.id})}"><i class="material-icons"></i><span>Envoyer Responsable</span></a>
                </li>
                <!-- Afficher le bouton "Désactivé" si le champ `EnvoyerResponsable` est true -->
                <li th:if="${demande.EnvoyerResponsable}">
                    <a href="#" class="disabled  red"><i class="material-icons"></i><span class="text-success">Demande Envoyée</span></a>
                </li>

            </ul>


        </nav>




        <!--------page-content---------------->

        <div id="content">

            <!--top--navbar----design--------->

            <div class="top-navbar">
                <div class="xp-topbar">

                    <!-- Start XP Row -->
                    <div class="row">
                        <!-- Start XP Col -->
                        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                            <div class="xp-menubar">
                                   <span class="material-icons text-white">signal_cellular_alt
                                   </span>
                            </div>
                        </div>
                        <!-- End XP Col -->

                        <!-- Start XP Col -->

                        <div class="col-md-5 col-lg-3 order-3 order-md-2">
                            <!--
                            <div class="xp-searchbar">
                                <form>
                                    <div class="input-group">
                                        <input type="search" class="form-control"
                                               placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"
                                                    id="button-addon2">GO</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                             -->
                        </div>

                        <!-- End XP Col -->

                        <!-- Start XP Col -->
                        <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                            <div class="xp-profilebar text-right">
                                <nav class="navbar p-0">
                                    <ul class="nav navbar-nav flex-row ml-auto">
                                        <li class="dropdown nav-item active">
                                            <a href="#" class="nav-link" data-toggle="dropdown">
                                                <span class="material-icons">notifications</span>
                                                <span class="notification">4</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">You have 5 new messages</a>
                                                </li>
                                                <li>
                                                    <a href="#">You're now friend with Mike</a>
                                                </li>
                                                <li>
                                                    <a href="#">Wish Mary on her birthday!</a>
                                                </li>
                                                <li>
                                                    <a href="#">5 warnings in Server Console</a>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a style="" class="nav-link" href="#" data-toggle="dropdown">
                                                <img  src="img/user.png" style="width:40px; border-radius:50%;background-color: white;"/>
                                                <span class="xp-user-live"></span>
                                            </a>
                                            <ul class="dropdown-menu small-menu">
                                                <li>
                                                    <a href="#">
                                                        <span class="material-icons">person_outline</span>Profile
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="material-icons">settings</span>Settings
                                                    </a>
                                                </li>
                                                <li>
                                                    <form th:action="@{/logout}" method="post">
                                                        <button type="submit"  th:onclick="'return confirm(\'Voulez-vous vraiment vous déconnecter ?\')'">
                                                            <span class="material-icons ">logout</span>
                                                            logout
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>


                                </nav>

                            </div>
                        </div>
                        <!-- End XP Col -->

                    </div>
                    <!-- End XP Row -->

                </div>

                <div class="xp-breadcrumbbar text-center">
                    <h4 class="page-title">Dashboard Chef Département</h4>
                    <ol class="breadcrumb" th:if="${chefDepartement != null}">
                        <li th:text="${chefDepartement.prenom}" class="breadcrumb-item" ><a th:text="${chefDepartement.prenom}" href="#"></a></li>
                        <li th:text="${chefDepartement.nom}" class="breadcrumb-item active" aria-curent="page"></li>
                    </ol>
                </div>

            </div>



            <!--------main-content------------->

            <div class="main-content">

                <section class="row" layout:fragment="content1">
                    <h1>le contenu ici</h1>
                </section>
            </div>

            <!---footer---->
            <!--
            <footer class="footer">
                <div class="container-fluid">
                    <div class="footer-in">
                        <p class="mb-0">&copy 2023/2024 Master SDSI. All Rights Reserved.</p>
                    </div>
                </div>
            </footer>
            -->
        </div>
    </div>


    <!----------html code compleate----------->









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function(){
            $(".xp-menubar").on('click',function(){
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

            $(".xp-menubar,.body-overlay").on('click',function(){
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });

        });

    </script>
</body>
</html>